* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333333;
    line-height: 1.4;
}

h1 {
    color: #2c3e50;
    margin-bottom: 15px;
}

/* ----- BUTTONS ----- */

.btn {
    display: inline-block;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #2980b9;
}

/* ----- BUTTONS ----- */

.form-container {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: #d5d5d9;
    padding: 1rem;
    border-radius: 5px;
    align-items: center;
    text-align: center;

    .book-card__image {
        display: block;
        border-radius: 5px;
        aspect-ratio: 3/4;
        width: 100%;
        margin-bottom: 1rem;
    }

    .book-card__title {
        font-size: 1.5rem;
    }

    .book-card__subtitle {
        font-size: 1rem;
        font-weight: 400;
    }

    .book-card__author {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .book-wrapper {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .book-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .book-wrapper {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}
