:root {
    /* Colors */
    --color-primary: #854f6c;
    --color-background: #fbe4d8;
    --color-background-secondary: #dfb6b2;
    --color-text: #190019;

    --accent-primary: #2b124c;
    --accent-secondary: #522b5b;

    --color-white: #ffffff;
    --color-black: #000000;

    /* Typography */
    --font-main:
        "Inter", system-ui, -apple-system, sans-serif; /* Limpia y muy legible */
    --font-headings:
        "Plus Jakarta Sans", var(--font-main); /* Moderna para títulos */

    /* Font Sizes */
    --font-size-sm: 0.875rem; /* 14px - Textos secundarios o etiquetas */
    --font-size-base: 1rem; /* 16px - Texto del cuerpo */
    --font-size-md: 1.25rem; /* 20px - Títulos de tarjetas */
    --font-size-lg: 1.75rem; /* 28px - Títulos de secciones */
    --font-size-xl: 2rem; /* 32px - Título principal */
    --font-size-xxl: 2.5rem; /* 40px - Título principal (Hero) */

    /* Font weight */
    --weight-light: 300; /* Para textos muy específicos o sutiles */
    --weight-normal: 400; /* Para el texto del cuerpo (lectura principal) */
    --weight-medium: 500; /* Para subtítulos, nombres de autores o menús */
    --weight-semibold: 600; /* Para títulos de tarjetas y botones */
    --weight-bold: 700;

    /* Spacing */
    --spacing-xs: 0.25rem; /* 4px */
    --spacing-sm: 0.5rem; /* 8px */
    --spacing-md: 1rem; /* 16px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 2rem; /* 32px */
    --spacing-xxl: 3rem; /* 48px */

    /* Borders & Radius */
    --radius-sm: 4px; /* Para botones pequeños o etiquetas */
    --radius-md: 8px; /* Para tarjetas de libros y dropdowns */
    --radius-lg: 16px; /* Para contenedores grandes o modales */

    /* Transitions */
    --transition-fast: all 0.2s ease-in-out;
    --transition-normal: all 0.3s ease;

    /* Shadows */
    --shadow-sm: 0 1px 2px 0 rgba(17, 24, 39, 0.05); /* Ideal para botones o inputs del buscador */
    --shadow-md:
        0 4px 6px -1px rgba(17, 24, 39, 0.07),
        0 2px 4px -2px rgba(17, 24, 39, 0.05); /* Ideal para las tarjetas de los libros (cards) */
    --shadow-lg:
        0 10px 15px -3px rgba(17, 24, 39, 0.08),
        0 4px 6px -4px rgba(17, 24, 39, 0.06); /* Ideal para menús desplegables, modales o elementos flotantes */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-main);
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.875rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.125rem;
}
h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
    margin-bottom: var(--spacing-sm);
}

input,
textarea,
button,
select {
    font-size: inherit;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1920px) {
}

/* ----- STRUCTURE ----- */

.app-layout {
    display: grid;
    grid-template-columns: repeat(
        12,
        minmax(0, 1fr)
    ); /* Siempre tiene 12 columnas */
    grid-template-rows: auto minmax(0, 1fr) auto;
    gap: var(--spacing-md);

    min-height: 100dvh;

    width: 100%;
}

.main-header,
.main-content,
.main-footer {
    grid-column: 1 / -1;
}

.main-header {
    grid-row: 1;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-md) var(--spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: grid;
    grid-column: span 12;
    grid-row: 2;
    padding: var(--spacing-md);
}

.main-footer {
    grid-row: 3;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    padding: var(--spacing-md);
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .main-content {
        grid-column: 2 / span 10;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1920px) {
    .main-content {
        grid-column: span 12;
    }
}

/* ----- BUTTON ----- */

.btn {
    display: inline-block;
    background-color: var(--accent-primary);
    color: var(--color-white);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-sm);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--accent-primary);
    transition: var(--transition-fast);
    font-size: var(--font-size-base);
    height: calc(var(--spacing-md) * 2.5);
}

.btn:hover {
    background-color: var(--accent-secondary);
}

/* ----- LABEL & INPUT ----- */

input {
    display: inline-block;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm)
        var(--spacing-sm);
    width: calc(var(--spacing-md) * 15);
}

input:focus {
    outline: solid var(--accent-secondary);
    outline-width: 2px;
}

label {
    font-size: var(--font-size-sm);
}

.label-input {
    display: flex;
    flex-direction: column;
    width: auto;
}

/* ----- HOME PAGE ----- */

.form-container {
    max-width: 800px;
    margin: 0 auto;
    background: var(--color-background-secondary);
    padding: var(--spacing-lg);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    display: flex;
    gap: var(--spacing-lg);
    align-items: center;
    justify-content: space-between;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    align-items: stretch;
}

.book-card {
    background-color: var(--color-background-secondary);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    height: 100%;
    width: 100%;

    .book-card__link {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: var(--spacing-md);

        .book-card__picture {
            width: 100%;
            margin-bottom: var(--spacing-sm);
        }

        .book-card__image {
            border-radius: var(--radius-md);
            aspect-ratio: 3/4;
        }

        .book-card__title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: var(--spacing-md);
            margin-bottom: 0;
        }

        .book-card__subtitle {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: var(--spacing-md);
            font-weight: 400;
            margin-bottom: var(--spacing-xs);
        }

        .book-card__author {
            font-size: var(--spacing-md);
            font-weight: 600;
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 600px) {
    .search-results {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: var(--spacing-md) 0;
    }
}

@media only screen and (min-width: 768px) {
    .search-results {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: var(--spacing-md) 0;
    }
}

@media only screen and (min-width: 992px) {
    .search-results {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: var(--spacing-lg);
    }
}

@media only screen and (min-width: 1200px) {
    .search-results {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: var(--spacing-lg);
    }
}

@media only screen and (min-width: 1920px) {
}

/* ----- BOOK PAGE ----- */

.book-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    .book-info__main {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
    }

    .book-info__image {
        width: auto;
        height: 40dvh;
        margin: 0 auto;
    }

    .book-info__titles {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }

    .book-info__copy {
        display: flex;
        flex-direction: column;
    }

    .book-info__buttons {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: stretch;
    }

    .book__data {
        background-color: var(--color-background-secondary);
        padding: var(--spacing-sm);
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-md);

        .book__data-list {
            padding-inline-start: var(--spacing-sm);
            list-style: disc;
            list-style-position: inside;
        }
    }

    .book__summary {
        background-color: var(--color-background-secondary);
        padding: var(--spacing-sm);
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-md);

        .book__summary-copy {
            padding: var(--spacing-sm);

            p {
                margin-bottom: var(--spacing-lg);
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .book-info {
        .book-info__main {
            flex-direction: row;
        }

        .book-info__image {
            height: 25dvh;
        }

        .book-info__buttons {
            align-items: flex-start;

            .btn {
                padding: var(--spacing-sm) var(--spacing-lg);
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .book-info {
        .book-info__image {
            height: 35dvh;
        }
    }
}

@media only screen and (min-width: 992px) {
    .book-info {
        .book-info__image {
            height: 50dvh;
        }
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1920px) {
}
